@media (prefers-color-scheme: dark) {
  body {
    background: #0f1115;
  }

  body,
  button,
  input,
  select,
  textarea {
    color: #cbd1d8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #f0f3f7;
  }

  a {
    color: #8ab4f8;
  }

  a:visited {
    color: #8ab4f8;
  }

  a:hover,
  a:focus,
  a:active {
    color: #d2e3fc;
  }

  hr {
    background-color: #2b3139;
  }

  abbr,
  acronym {
    border-bottom-color: #8b949e;
  }

  mark,
  ins {
    background: #3a5a86;
    color: #f0f3f7;
  }

  blockquote {
    background: #1a212b;
    border-left-color: #8ab4f8;
  }

  pre {
    background: #141a22;
  }

  code,
  kbd,
  pre,
  samp {
    color: #e6edf3;
  }

  table th {
    background: #355272;
    color: #f0f3f7;
  }

  table td {
    background: #11161d;
  }

  table caption {
    background: #2b3139;
    color: #f0f3f7;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="date"],
  input[type="tel"],
  textarea,
  select {
    background: #0f1115;
    border-color: #8b949e;
    color: #cbd1d8;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="tel"]:focus,
  textarea:focus,
  select:focus {
    border-color: #8ab4f8;
    color: #f0f3f7;
  }

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    border-color: #8ab4f8;
    color: #8ab4f8;
  }

  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    border-color: #f0f3f7;
    color: #f0f3f7;
  }

  .read-more {
    border-bottom-color: #8ab4f8;
    color: #8ab4f8;
  }

  .read-more:hover {
    border-bottom-color: #f0f3f7;
    color: #f0f3f7;
  }

  .widget-area.footer-widget-area {
    background: #141a22;
  }

  .tagcloud a {
    border-color: #8ab4f8;
  }

  .tagcloud a:hover {
    border-color: #f0f3f7;
    color: #f0f3f7;
  }

  .form-allowed-tags {
    background: #141a22;
    border-color: #8ab4f8;
  }

  #content .sb-frontend {
    color: #cbd1d8 !important;
  }

  #content .sb-frontend .sb-table-container,
  #content .sb-frontend .sb-table,
  #content .sb-frontend .sb-tbody,
  #content .sb-frontend .sb-thead,
  #content .sb-frontend .sb-tr,
  #content .sb-frontend .sb-th,
  #content .sb-frontend .sb-td,
  #content .sb-frontend .sb-table-cell {
    background-color: #11161d !important;
  }

  #content .sb-frontend .sb-tr {
    border-bottom-color: #2b3139 !important;
  }

  #content .sb-frontend .sb-text-gray-900,
  #content .sb-frontend .sb-text-gray-700,
  #content .sb-frontend .sb-text-gray-600,
  #content .sb-frontend .sb-text-gray-500,
  #content .sb-frontend .sb-text-gray-400,
  #content .sb-frontend .sb-entries-info,
  #content .sb-frontend .sb-show-dropdown span,
  #content .sb-frontend .sb-search-input::placeholder {
    color: #e6edf3 !important;
  }

  #content .sb-frontend .sb-text-blue-600 {
    color: #8ab4f8 !important;
  }

  #content .sb-frontend .sb-text-blue-600:hover,
  #content .sb-frontend .sb-text-blue-600:focus {
    color: #d2e3fc !important;
  }

  #content .sb-frontend .sb-border-gray-300,
  #content .sb-frontend .sb-border-gray-100 {
    border-color: #2b3139 !important;
  }

  #content .sb-frontend .sb-bg-white,
  #content .sb-frontend .sb-bg-gray-50,
  #content .sb-frontend .sb-actions {
    background-color: #11161d !important;
  }

  #content .sb-frontend .sb-button,
  #content .sb-frontend .sb-search-input,
  #content .sb-frontend .sb-per-page-dropdown input {
    background-color: #0f1115 !important;
    border-color: #2b3139 !important;
    color: #e6edf3 !important;
  }

  #content .sb-frontend .sb-button:hover,
  #content .sb-frontend .sb-button:focus,
  #content .sb-frontend .sb-search-input:focus,
  #content .sb-frontend .sb-per-page-dropdown input:focus {
    border-color: #8ab4f8 !important;
  }

  .bwg-container .bwg_blog_style_share_buttons_image_alt0,
  .bwg-container .bwg_image_alt_0 {
    background: #141a22 !important;
    color: #e6edf3 !important;
  }
}
